<launch>
  <arg name="ns" default="merlion_cv"/>
  <arg name="camera_topic" default="/merlion_hardware/camera_image"/>

  <include file="$(find merlion_cv)/launch/flare_tracker.launch">
    <arg name="ns" value="$(arg ns)/flare" />
    <arg name="camera_topic" value="$(arg camera_topic)" />
  </include>

  <include file="$(find merlion_cv)/launch/gate_tracker.launch">
    <arg name="ns" value="$(arg ns)/gate" />
    <arg name="camera_topic" value="$(arg camera_topic)" />
  </include>

</launch>